#titulo-seccion{
	background-color:white;
	width:100%;
	border-bottom:1px solid #ccc;
	color:#ffb900;
	padding:10px 0;
	font-size:24px;
	text-indent: 10px;
}

#titulo-oficina{
	background-color:white;
	width:100%;
	color:black;
	padding:15px 0;
	font-size:15px;
	text-align:right;
	float:left;
}

#titulo-oficina span{
	margin-right:10px;
}

#fiesta-detail{
	background-color:white;
	width:100%;
	float:left;
}

#div-titulo-fiesta{
	float:left;
	width:100%;
}

#div-titulo-fiesta h3{
	float:left;
	clear:both;
	background-image:url('/site_media/img/flecha_fiestas.png');
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:15px;
	margin:5px;
}

#div-titulo-fiesta p{
	float:left;
	clear:both;
	font-size:16px;
	padding:0 15px;
	margin:5px;
	text-align:justify;
}

#fiesta-detail-left{
	float:left;
	width:60%;
	box-shadow: 0px -7px 10px -4px #ccc inset;
}

#fiesta-contenido{
	float:left;
	clear:both;
	padding:0 15px;
	margin:10px 5px;
}

#fiesta-contenido p{
	float:left;
	width:100%;
	font-size:14px;
	text-align:justify;
}

#fiesta-contenido p.p-img{
	width:60%;
}

#fiesta-contenido .img-detail{
	width:35%;
	float:right;
	margin-top:16px;
}

#fiesta-detail-center{
	float:left;
	width:20%;
	box-shadow: 0px -7px 10px -4px #ccc inset;
}

#fiesta-detail-right{
	float:left;
	width:20%;
	background-color:#f7f7f7;
	box-shadow: 0px -7px 10px -4px #ccc inset;
}

#fiesta-fecha{
	float:left;
	width:100%;
	margin-top:10px;
	margin-bottom:20px;
}

.titulo-right-fiesta{
	background-image:url('/site_media/img/flecha_fiestas1.jpg');
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:30px;
	margin-left:10px;
}

.div-fecha-widgets{
	width:140px;
	margin:20px auto;
}

.fecha-widget{
	width:65px;
	height:50px;
	background-color:#ffb900;
	color:white;
	border-radius:5px;
	float:left;
}

.fecha-widget-black{
	width:65px;
	height:50px;
	background-color:#000;
	color:white;
	border-radius:5px;
	float:left;
	margin-left:10px;
}

.dia-fiesta{
	width:100%;
	text-align:center;
	font-size:22px;
	float:left;
}

.mes-fiesta{
	width:100%;
	text-align:center;
	font-size:16px;
	float:left;
}

#fiesta-programacion{
	float:left;
	width:100%;
	margin-top:10px;
}

.fiesta-programa{
	margin-top:15px;
	margin-left:10px;
}

.fiesta-programa-hora, .proxima-fiesta-titulo{
	background-image:url('/site_media/img/flecha_amarilla.png');
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:7px;
	font-size:12px;
	font-weight:bold;
}

.fiesta-programa p{
	margin:3px 0 10px 10px;
	font-size:13px;
}

.proximas-fiestas-titulo{
	padding:10px 0 15px 10px;
	font-size:19px;
	float:left;
	clear:both;
	font-style:italic;
}

.proxima-fiesta{
	float:left;
	clear:both;
	margin-bottom:15px;
	padding:0 10px;
}

.proxima-fiesta a{
	color: black;
	font-size: 0.7em;
	text-decoration: none;
	background-image: url('/site_media/img/flecha_info.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 8px;
	float: right;
	margin-top:5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.proxima-fiesta p{
	margin:3px 0 3px 7px;;
	margin-left:10px;
	font-size:13px;
}

.proxima-fiesta-ambito{
	font-size:11px;
	font-style: italic;
	margin:3px 0 10px 10px;
	float:left;
	width:100%;
}

.proxima-fiesta-ambito b{
	color:#ffb900;
}