<div id="info_act">
  <p>Incluye: </p>
  <div>
    <ul>
      <li>Guía turístico local</li>
      <li>Entrada al museo "Olvera, la frontera y los castillos"</li>
      <li>Entrada al castillo árabe</li>
      <li>Entrada al centro de interpretación de la Vía Verde de la Sierra</li>
      <li>Barrio de la Villa o Almedina</li>
      <li>Peñón del Sagrado Corazón</li>
      <li>Ermita de Ntra. Sra. de los Remedios</li>
      <li>Parroquia de Ntra. Sra. de la Encarnación</li>
      <li>Posibilidad de comer en nuestros pueblo con diferentes menús con precios especiales.</li>
    </ul>
    <p>Precio especial para grupos</p>
  </div>
<div>
