#titulo-seccion{
	background-color:white;
	width:100%;
	border-bottom:1px solid #ccc;
	color:#ffb900;
	padding:10px 0;
	font-size:24px;
	text-indent: 10px;
}

#titulo-oficina{
	background-color:white;
	width:100%;
	color:black;
	padding:15px 0;
	font-size:15px;
	text-align:right;
	float:left;
	border-top:1px solid #ccc;
}

#titulo-oficina span{
	margin-right:10px;
}

#documentos{
	background-color:white;
	width:100%;
	float:left;
	padding-bottom:10px;
}

.documento{
	float:left;
	width:25%;
	margin-top:10px;
}

.documento .img-doc{
	width:100%;
	float:left;
	text-align:center;
	margin-bottom:5px;'
}

.documento .titulo-doc{
	float:left;
	width:100%;
	text-align:center;
	color:black;
	text-decoration:none;
	font-style:italic;
}